/* css du backend
configuré pour mobile jusqu'à 480px
adaptation tablette et écrans PC avec media Queries*/

.dashboard
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    
}

.actions
{
    background: linear-gradient(135deg, rgb(62, 189, 255), rgb(5, 73, 130));
}

.actions p a
{
    color: white;
}


.actions, .lastNews
{
    width: 45%;
    margin-top: 3%;
    padding: 1%;  
}

.lastNews
{
    background-color:rgba(255, 255, 255, 0.5);
}

.editActions
{
    display: flex;
    justify-content: flex-start;
    width: 50%;
    margin: auto;
    padding: 0% 2%;
    background-color:rgba(255, 255, 255, 0.5);
    
}

.return 
{
    margin-left: 1%;
}

.return a
{
    color: white;
    font-size: 1.5em;
}


