.dashboard
{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    
}

.actions
{
    background: linear-gradient(135deg, rgb(62, 189, 255), rgb(5, 73, 130));
}

.actions ul li
{
    color: white;
}

.actions ul li a
{
    color: white;
    font-size: 1.7em;
    font-family: 'Reenie Beanie', cursive; 
    font-weight: 700;
    text-align: justify;
}

.actions h3
{
    color: white;
}

.actions, .lastNews
{
    width: 45%;
    margin-top: 3%;
    padding: 1%;  
}

.lastNews
{
    background-color:rgba(255, 255, 255, 0.5);
    margin-bottom: 3%;
}

.editActions
{
    display: flex;
    justify-content: flex-start;
    width: 50%;
    margin: auto;
    padding: 0% 2%;
    background-color:rgba(255, 255, 255, 0.5);
    
}

.return 
{
    margin-left: 1%;
}

.return a
{
    color: white;
    font-size: 1.5em;
}


