/* css du backend
configuré pour mobile jusqu'à 480px
adaptation tablette et écrans PC avec media Queries*/
body
{
    background-image: url("../img/alaska_mountains.jpg");
    background-size: cover;
    width: auto;
    margin: 2%;
}

h2
{
    text-transform: uppercase;
    font-size: 2em;
    color: rgb(173, 204, 214);
    font-family: 'Luckiest Guy', cursive;
}

form
{
    display: flex;
    flex-flow: column nowrap;
    
    
}
label
{
    color: white;
    font-family: 'Special Elite', cursive;
    margin-bottom: 0.5%;
    
}

input[type="text"]
{
    width: 35%;
    background-color: rgb(173, 204, 214);
    margin-bottom: 0.5%;
}

input[type="submit"]
{
    width: 10%;
    font-family: 'Special Elite', cursive;
    background-color: rgb(173, 204, 214);
    margin-top: 2%;
    padding: 1%;
}

p a
{
    font-size: 1.7em;
    font-family: 'Reenie Beanie', cursive; 
    font-weight: 700;
    text-align: justify;
    color: white;
    
}