/* css du frontend
configuré pour mobile jusqu'à 480px
adaptation tablette et écrans PC avec media Queries*/

body
{
    background-image: url("../img/hiking.jpg");
    background-size: cover;
    width: auto;
    margin: auto;
}

h1, h2, h3
{
    text-align:center;
     
}

h1
{
    font-size: 5em;
    text-transform: uppercase;
    color:rgb(26, 41, 122);
    font-family: 'Luckiest Guy', cursive;
}

h2
{
    text-transform: uppercase;
    font-size: 3em;
    color:rgb(26, 41, 122);
    font-family: 'Luckiest Guy', cursive;
}

h3
{
    color: rgb(16, 105, 160);
    font-size:1.8em;
    margin-bottom:0px;
    font-family: 'Special Elite', cursive;
}

h4
{
    width: 70%;
    height: 50%;
    color: white;
    font-size:1.8em;
    margin: auto;
    margin-top:50px;
    padding: 1%;
    
    background: linear-gradient(135deg, rgb(62, 189, 255), rgb(5, 73, 130));
    font-family: 'Special Elite', cursive;
    
}

p
{
    font-size: 1.7em;
    font-family: 'Reenie Beanie', cursive; 
    font-weight: 700;
    text-align: justify;
    
}

.connect a
{
    font-size: 1.5em;
    color: white;
    margin-left: 2%;
}

.news p
{
    margin: 1%;
    
}

.news, .comments
{
    width:70%;
    margin: auto;
    margin-top: 3%;
    padding: 10px;
}

.news
{
    background-color:rgba(255, 255, 255, 0.5);
}

.comments
{
    background-color: rgba(62, 189, 255, 0.5);
}

em
{
    font-family: 'Special Elite', cursive;
    font-size: 0.6em;
    
}

.comments a, .authorDate
{
    font-family: 'Special Elite', cursive;
    font-weight: bold;
}

.comments a
{
    font-size: 1em;
}

.authorDate
{
    font-size: 1.2em;
}

a
{
    text-decoration: none;
    color: rgb(16, 105, 160);
    
}

.introduction
{
    
    width: 68%;
    margin: auto;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
    
}

form
{
    display: flex;
    flex-flow: column wrap;
    background: linear-gradient(135deg, rgb(62, 189, 255), rgb(5, 73, 130));
    width: 50%;
    margin: 2% auto;
    
    padding-top: 2%;
    padding-bottom: 0.5%;
    align-items: center;
    
}

.field
{
    display: flex;
    flex-flow: column wrap;
    padding-bottom: 5%;
}

label
{
    font-family: 'Montserrat', sans-serif;
}

.formButton
{
    font-family: 'Special Elite', cursive;
}

/* Media Queries responsive */
@media screen and (min-width: 481px)
{
    form
    {
        width: 38%;
    }
    
}


/* Pour tablette 481-800px */
@media screen and (min-width: 801px)
{
    form
    {
        width: 28%; 
    }
    
}

/* Pour écran de 801-1024px */
@media screen and (min-width: 1025px)
{
    form
    {
       width: 20%;
    }
    
}

/* Pour écran PC à partir de 1601px */
@media screen and (min-width: 1601px)
{
    form
    {
       
    }
    
}
