body
{
    background-image: url("../img/hiking.jpg");
    background-size: cover;
}

h1, h2, h3
{
    text-align:center;
     
}

h1
{
    font-size: 5em;
    text-transform: uppercase;
    color:rgb(26, 41, 122);
    font-family: 'Luckiest Guy', cursive;
}

h2
{
    font-size: 3em;
    color:rgb(26, 41, 122);
    font-family: 'Luckiest Guy', cursive;
}

h3
{
    color: rgb(16, 105, 160);
    font-size:1.8em;
    margin-bottom:0px;
    font-family: 'Special Elite', cursive;
}

h4
{
    width: 70%;
    height: 50%;
    color: white;
    font-size:1.8em;
    margin: auto;
    margin-top:50px;
    padding: 1%;
    
    background: linear-gradient(135deg, rgb(62, 189, 255), rgb(5, 73, 130));
    font-family: 'Special Elite', cursive;
    
}

p
{
    font-size: 1.7em;
    font-family: 'Reenie Beanie', cursive; 
    font-weight: 700;
    text-align: justify;
    
}

.news p
{
    margin: 1%;
    
}

.news, .comment
{
    width:70%;
    margin: auto;
    margin-top: 3%;
    background-color:rgba(255, 255, 255, 0.5);
    padding: 10px;
}

em
{
    font-family: 'Special Elite', cursive;
    font-size: 0.6em;
    
}

.comment a, .authorDate
{
    font-family: 'Special Elite', cursive;
    font-weight: bold;
}

.comment a
{
    font-size: 1em;
}

.authorDate
{
    font-size: 1.2em;
}

a
{
    text-decoration: none;
    color: rgb(16, 105, 160);
    
}

.introduction
{
    
    width: 68%;
    margin: auto;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
    
}

form
{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.connect a
{
    font-size: 1.5em;
    color: white;
    margin-left: 2%;
}
