body
{
    background-image: url("../img/hiking.jpg");
}

h1, h3
{
    text-align:center;
     
}

h1
{
    font-size: 3em;

}

h3
{
    color:#FFFFFF;
    font-size:1.5em;

    margin-bottom:0px;
}

p
{
    font-size: 1.1em;
}
.news p
{
    background-color:#FFFFFF;
    padding: 10px;
}

.news
{
    width:70%;
    margin:auto;
}

a
{
    text-decoration: none;
    color: blue;
}

.introduction
{
    text-align: center;
    width: 70%;
    margin: auto;
    
}

form
{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
